
.bio-card {
    border-style: ridge;
    max-width: 70%;
}

#MelaniaGuerra {
    width: 50%;
    padding-top: 5%;
}

.bio {
    display: flex;
    justify-content: center;
}

.bio-content {
    padding: 5% 5% 2% 5%;
    text-align: justify;
}

.bio-top {
    text-align: center;
}

.bio-bottom {
    text-align: right;
    padding-bottom: 5%;
    padding-right: 5%;
}

.page-nav {
    display: flex;
    padding: 5% 0;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-card {
    border-style: ridge;
    border-color: rgb(29, 132, 163);
}

.nav-card-bottom {
    border-color: rgb(29, 132, 163);
    background-color: rgb(29, 132, 163);
    
}

.nav-card-link {
    color: white;
    text-align: center;
    width: 100%;
    display: block;
    text-decoration: none;
}

.nav-card-img {
    width: 300px;
    height: 200px;
}