.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.gallery-img {
    padding: 0 20px;
    width: 400px;
    height: 266px;
    overflow:hidden;
    margin: 0;
}

.gallery-img img{
    display:block; /*remove inline-block spaces*/
    width:100%;
}