body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/fresh_snow.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    margin-left: 10px;
    margin-top: 10px;
}

html {
    font-size: 18px;
}

.title {
    color: darkblue;
    text-align: center;
}

.title-continuation {
    display: block;
    font-weight: bolder;
}

.link-style {
    color: rgb(29, 132, 163);
    font-weight: bold;
    text-decoration: none;
}

.link-style:hover {
    color: navy;
}