@import './assets/styles/variables';

body {
  font-family: 'Poppins', sans-serif;
}

.transparent-background {
  background-color: transparent;
}

.primary-background {
  background-color: $primary;
}
