.carousel {
    margin-top: 3%;
    margin-bottom: 16px;
    overflow: hidden;

    &:hover {
        overflow: auto;
        margin-bottom: 8px;
    }

    &::-webkit-scrollbar {
        width: 8px;     /* Tamaño del scroll en vertical */
        height: 8px;    /* Tamaño del scroll en horizontal */
    }

    /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
        width: 5px;
        height: 5px;
    }

    /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    /* Cambiamos el fondo cuando esté en active */
    &::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 4px;
    }

    /* Cambiamos el fondo cuando esté en active o hover */
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
        background: #d4d4d4;
    }
}

.container {
    &__book-image {
        width: 140px;
    }

    &__add-button {
        height: 1em;
    }

}

.container__add-book {
    width: 140px;
    background-color: #218838;
}

