.body-style {
    background-color: black;
    color: white;
}

.vertical-navbox {
    background-color: rgb(61, 60, 60);
    color: white;
    float:right;
    clear:right;
    width:22.0em;
    margin:0 0 1.0em 1.0em;
    border:1px solid gray;
    padding:0.2em;
    border-spacing:0.4em 0;
    text-align:center;
    line-height:1.4em;
    font-size:88%
}

a {
    color: rgb(238, 136, 68);
}