.home-container {
	&__title-img{
        width: 80px;
	}
	
	&__float-btn {
		position:fixed;
		bottom:25px;
		right:25px;
		color: white;
	}

	&__info-chart {
		width: 20%;
		position: absolute;
		right: 10%;
	}

	&__info-chart-appear {
		opacity: 0.01;
	}
  
	&__info-chart-appear.home-container__info-chart-appear-active {
		opacity: 1;
		transition: opacity 1s ease-in;
	}
}