.home-container {
	&__title-img{
        width: 80px;
	}
	
	&__float-btn {
		position:fixed;
		bottom:25px;
		right:25px;
		color: white;
	}

	&__info-chart {
		width: 20%;
		position: absolute;
		right: 10%;
	}
}