<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <div class="navbar-brand"><img src="/assets/images/bs-logo.png" alt=""></div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" [routerLink]="['/characters']">
        <a class="nav-link">Characters</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
  <!-- <app-characters></app-characters>  esta es la que va a estar cambiando -->
</div>