.column {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #F4F5F7;
  }

  @media (max-width: 600px) {
    .column {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 90%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.35);
      transition: 0.3s;
    }
  }