.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 5px black;
            box-shadow: 0 0 5px black;
    position: fixed;
    width: 100%;
    background-color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0;
  }
  
  .header__links {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .header__link {
    display: block;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            margin: 10px;
  }
  
  .header__logo-brand {
    display: inline-block;
  }

  .header__menu {
    display: none;
  }

@media (max-width: 600px) {
  .header {
    justify-content: space-between;
  }

  .header__menu {
    display: inline;
    flex-grow: 1;
  }

  .header__logo {
    justify-content: flex-end;
  }

  .header__links {
    display: none;
  }
}