@import '../../assets/styles/variables';

.member-container{
    margin-top: 2%;

    &__img {
        max-width: 25%;
        min-width: 15%;
    }
    
    &__info {
        width: 20%;
        position: absolute;
        top: 27.5%;
        left: 10%;
    }

    &__clickable-star {
        font-weight: bold;
    }

    &__img-star {
        width: 50%;

        &:hover {
            cursor: pointer;
        }
    }

    &__text {
        margin: 0;
        font-size: 2rem;
        color: $font-contrast;
    }
}