body {
    background-color: black;
}

.img-size {
    width: 100%;
}


.sun {
    width: 70%;
    margin-left: -35%;
}

.venus {
    width: 10.86%;
}

.uranus {
    width: 13.64%;
}

.saturn {
    width: 18.37%;
}

.neptune {
    width: 13.53%;
    margin: 2%;
}

.mars {
    width: 10.48%;
}

.earth {
    width: 10.91%;
}

.jupiter {
    width: 20%;
}

.mercury {
    width: 10.35%;
}

.planet {
    transition: 0.5s;
}

.planet:hover {
    transform: scale(1.2,1.2);
    transition: 0.5s;
}