.sun {
    width: 50%;
    margin-left: -40%;
}

.venus {
    width: 10%;
}

.uranus {
    width: 50%;
    margin-left: -40%;
}

.saturn {
    width: 10%;
}

.neptune {
    width: 50%;
    margin-left: -40%;
}

.mars {
    width: 10%;
}

.earth {
    width: 50%;
    margin-left: -40%;
}

.jupiter {
    width: 10%;
}