
.card-footer {
    margin-top: 5px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.card-content {
    padding: 10px 16px;
}

.card-img {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.card-link {
    text-decoration: none;
    font-weight: 600;
    color: blue;
}

.background_simulacro {
        background-image: url(https://lh3.googleusercontent.com/dlKzxPeWdE4uuxJsFFwZEbdfOBSBMgPfELNkbM5RPfJ-yxClyyQMAj6wMd91m0YElaZP=s180-rw);
        background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.background_ppem {
    background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Purple123/v4/93/47/91/934791e9-745c-b746-0a13-ad9e1ab2d5f3/source/200x200bb.jpg);
    background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.overlay-card-container:hover .card-img {
    opacity: 0.3;
  }
  
  .overlay-card-container:hover .middle {
    opacity: 1;
  }

  .overlay-card-container {
    position: relative;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .text {
      font-weight: bold;
  }

  @media(max-width: 600px) {
      .card-container {
          flex-direction: column;
          align-items: center;
      }

      .card {
          width: 70%;
          margin-bottom: 2em;
      }
}