.header {


}

/*#region header__top*/

.header__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__top__img_info {
    display: flex;
    width: 80%;
    align-items: center;
}

.header__top__img {
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQEVFFJPUE2ckQ/profile-displayphoto-shrink_200_200/0?e=1584576000&v=beta&t=YWZ0ZtXscDkXjQumF7VutZ1XP_EczNB4q3ZjGzAgPYM);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 0;
    width: 15%;
    padding-bottom: 15%;
    margin-right:  4em;
}

.header__top__img__alt {
    visibility: hidden;
}

.header__top__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.header__top__info__summary_name {
    font-size: 1.5em;
    margin-bottom: 0;
}

.header__top__info__summary__lastname {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin: 0;
}

.header__top__info__contact__container {
    width: 80%;
    display: flex;
    padding-left: 12%;
    box-sizing: border-box;
    flex-direction: column;
}

.header__top__info__social__c__contact__label {
    font-size: 1em;
    margin: 0;
}

.header__top__info__social__c__contact__info {
    margin-top: 0.5em;
}

.header___top__info__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__top__info__social__pi {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center
}

.header__top__info__social__c {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-left: 4em;
}

.header__top__info__social__c__contact {
 
}

.header__top__divider__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__top__divider__container__div {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 90%;
}

@media(max-width: 600px) {
    html {
        margin: 0;
    }

    .icon {
        margin: 0;
    }

    .header__top {
        flex-direction: column;
        margin: 1em;
    }

    .header__top__info__summary_name, .header__top__info__summary__lastname {
        text-align: center;
    }

    .header__top__img_info {
        flex-direction: column;
    }

    .header__top__info__social__pi {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    
    .header__top__info__social__pi__icons {
        width: 100%;    
        display: flex;
        justify-content: space-evenly;
    }

    .header__top__info__contact__container {
        padding: 0;
    }

    .header__top__info__social__c {
        flex-direction: column;
    }

    .header__top__img {
        width: 50%;
        padding-bottom: 50%;
        margin: 0;
    }
}

/*#endregion */
