.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-grow: 8;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 2rem;
    justify-content: center;
  }
  
  .logo__brand {
    display: inline-block;
    margin: 0;
  }
  
  .logo__icon {
    font-size: 1.5em;
  }  

  @media (min-width: 600px) {
      .logo {
          margin: 0;
          justify-content: start;
      }
  }