.title {
    font-family: 'Dekko', cursive;
    background: -webkit-linear-gradient(#003bf9 20%, #ff00c2 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    /*
font-family: 'Mansalva', cursive;
font-family: 'Neucha', cursive;
font-family: 'Patrick Hand', cursive;*/
}

